/* .jumbotron{
    background-image: url("../images/train3.jpeg"); 
 
 }  */
.jumbotron {
    background: none ; 
    padding-bottom: 0; 
}
 .jumbotron h1 {
    color: white ; 
    font-size: 80px ;
 }
 .lead {
    font-weight: bold ; 
    font-family: fantasy ; 
    font-size: 30px ; 
 }
body {
    background-image: url("../images/train7.jpeg") ; 
   background-size: 100% ;
   max-width: 1920px;
   max-height: 1080px ; 
   
  
}
th {
	font-size: 20px;
	text-align: center;
    background-color: white;
    color: black ; 
    font-weight: bold ; 
    
}
.panel-heading, h4 {
	font-size: 30px;
	text-align: center;
    background-color: #827f8b ; 
    color: white; 
    font-weight: bold ; 
    opacity: .5 ; 
 
}


td {
    text-align: center;
    color: black; 
    font-weight: bold ; 
}
label {
    font-size: 13px;
    color: white ; 
    font-weight: bold ; 
     
}
 #submitButton {
	background-color: #d9ebdd;
}
button {
	font-size: 20px 
	
}
button:hover {
	background-color: #e5d9e0 
	/* text-transform: uppercase; */
}
/* .card-body{
    background-color: grey ; 
} */


h6{
    color: white ; 
 
}
td{
    color: black; 
    
}
tr{
    opacity: .3 ; 
}
tbody {
    background-color:  white; 
    color: white ; 
    opacity: .8 ; 
    
    
}
.card-transparent {
    background: rgba(122, 130, 136, 0.2)!important;
}